* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*set the nav bar to have the view port width*/
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00aeef;
  width: 100vw;
  position: fixed; /* Make it stick, even on scroll */
}

/* change the default styling of the ul elements to none */
ul {
  list-style-type: none;
}

.menu__subMenu-sub-article a {
  text-decoration: none;
  color: #00aeef;
}

/* adds padding to the li elements */
.title-menu,
.title-social {
  color: white;
  padding: 8px 10px;
  text-align: center;
  display: inline;
  font-weight: bold;
  margin-right: 20px;
}

.title-name {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 10px;
}

.title-menu li:hover,
.title-menu a:hover,
.title-social li:hover,
.title-social a:hover {
  cursor: pointer;
}

#icon {
  font-weight: bolder;
  color: white;
  margin: auto;
  padding: 8px 10px;
  margin-right: 20px;
  cursor: pointer;
}

.header #icon a img {
  width: 131px;
}

.dark {
  width: 100%;
  display: none;
}

.light {
  width: 100%;
  display: block;
}

#icon:hover {
  background-color: #ddf0f9;
}

#icon:hover > a .light {
  display: none;
}

#icon:hover > a .dark {
  display: block;
}

/* change the color of the li elements when the mouse is on hover */
.title-menu:hover,
.title-social:hover {
  background-color: #ddf0f9;
  color: #00aeef;
}

/* puts the li elements on the social class side by side */
.social {
  justify-content: flex-end;
}

/* puts the li elements on the menu class side by side */
.menu {
  display: flex;
  justify-content: flex-start;
}

.menu-links {
  display: flex;
  justify-content: space-around;
}

.social-links {
  display: flex;
  justify-content: space-around;
}

.hamburger {
  display: none;
}

/* HAMBURGER VIEW */

.hamburger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: whitesmoke;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .navigation li {
    width: 30%;
  }
}

@media screen and (max-width: 860px) {
  body {
    overflow-x: hidden;
  }
  .submenu-container,
  .submenu,
  .sub-articles-container,
  .subArticles {
    display: none;
  }
  .menu li:hover > .submenu-container,
  .submenu,
  .more,
  .menu__more-articles {
    display: none;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
  }

  .social {
    display: none;
  }

  .header {
    position: inherit;
    padding-left: 50px;
  }

  #icon {
    display: block;
    position: inherit;
    top: 0;
  }

  .menu-links {
    position: absolute;
    left: 0;
    height: 98.5vh;
    top: 3.45vh;
    background-color: #555;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    position: relative;
    right: calc(60%);
  }

  .menu-links .title-menu:not(:first-child) {
    opacity: 0;
    color: white;
    transition: transform 0.5s ease-in;
  }

  .menu-links .title-menu:hover .title-name {
    color: #00aeef;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* HAMBURGER VIEW */

.submenu-container {
  position: fixed;
  background: #ddf0f9;
  width: 100%;
  left: 0;
  margin-top: 5px;
  display: none;
  height: auto;
  border-bottom: 5px solid #00aeef;
}

.submenu {
  position: relative;

  width: 200px;
  height: 180px;
  padding-top: 20px;
}

.subArticles-sibling {
  height: auto;
  background: #c7e6f5;
}

.subArticles-sibling .article:hover > .subArticles-sibling .submenu {
  height: 100%;
}

.article {
  display: block;
  text-align: right;
  margin-right: 20px;
  text-decoration: none;
  color: #0698dd;
  font-size: 1.1rem;
  font-weight: 900;
}

.article {
  position: relative;
  width: 100%;
  padding-right: 25px;
  padding-top: 5px;
}

.article:hover {
  background-color: #ddf0f9;
  color: #0698dd;
}

.sub-articles-container {
  top: 0;
  width: 100%;
  height: 100%;
}

.article-post {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #ddf0f9;
  width: 80vw;
  height: 100%;
  padding-top: 20px;
}

.subArticles {
  display: none;
  height: 100%;
}

.subArticles:hover {
  clear: both;
}

.hidden {
  display: block;
}

.menu li:hover > .submenu-container {
  display: flex;
}

.more {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: space-evenly;
}

.menu__more-articles {
  width: 50%;
  border-right: 1px solid black;
  color: #333333;
  padding-bottom: 5%;
}

.menu__more-articles .title-menu-more {
  font: 12px "ProximaNovaRegular", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #555555;
  padding-bottom: 5%;
}

.menu__subMenu-sub-article {
  display: flex;
  flex-direction: column;
  width: 20%;
  color: #00aeef;
}

.menu__more-sub-article {
  color: #00aeef;
}

li.menu__subMenu-sub-article img {
  width: 200px;
  height: 115px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

.title-label {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.title-label:hover {
  color: #0076a3;
  text-decoration: underline;
}
